@tailwind base;
@tailwind components;
@tailwind utilities;

 
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,900&family=Sofia+Sans:wght@400;500;600&display=swap');

*{
 --color-text-1:#FDEEC8;
 font-family: 'Merriweather', serif;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.max-container {
  @apply mx-auto max-w-[1270px];
}
.max-container-extra {
  @apply mx-auto max-w-[1150px];
}
body {
  font-family: 'Merriweather', serif;
 
}
